rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Menu & Shop Images Storage Access
    match /{allPaths=**} {
      // Anyone can view menu and shop images
      allow read: if true;
    }

    // Allow uploads and deletes strictly to rajat_shop image folders with max 1MB limit
    match /shops/rajat_shop/{allPaths=**} {
      allow create, update: if request.resource.size < 1 * 1024 * 1024;
      allow delete: if true;
    }
  }
}
