rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Menu & Shop Images Storage Access
    match /{allPaths=**} {
      // Anyone can view menu and shop images
      allow read: if true;
    }

    // Allow uploads (< 1MB) and deletes to any shop image folders
    // Note: Temporary development permission. Will be hardened with Firebase Auth in a future phase.
    match /shops/{shopId}/{allPaths=**} {
      allow create, update: if request.resource.size < 1 * 1024 * 1024;
      allow delete: if true;
    }
  }
}
